<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart-items.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(p => { %>
                        <li class="products-items">
                            <h1><%= p.productId.title %></h1>
                        
                             <p>Quantity <%= p.quantity %></p> 
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productId.id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul> <form action="/create-order" method="POST">
                    <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
                    <button class="btn" type="submit">Order now</button>
                </form>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>